body {
    font-family: Arial, sans-serif;
    background-color: #aad4cf;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 0;
    background-color: #A9D4CF;
    position: relative;
}

header img {
    max-width: 100%;
    height: auto;
}

header h1.main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 68px; 
    text-align: center;
}

nav {
    text-align: center;
    background-color: #d4e9e7;
    color: #333;
    font-size: 40px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.content {
    background-color: #D4E9E7;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

article {
    background-color: #D4E9E7;
    padding: 20px;
    margin-bottom: 20px;
}

article img.article-img {
    float: left;
    margin: 0 20px 20px 0;
    width: 200px;
}

section {
    background-color: #D4E9E7;
    padding: 20px;
    margin-bottom: 20px;
}

section h2 {
    margin-top: 0;
}

h2 {
    color: #005b5b;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 97%;
}

form textarea {
    height: 100px;
}

form input[type="radio"] {
    margin: 10px 0;
}

form button {
    background-color: #fafafa;
    color: #333;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    align-self: flex-start;
}

.footer-content {
    width: 63.8%; 
    margin: 0 auto;
    background-color: #d4e9e7;
    padding: 10px;
    text-align: right;
}

footer p {
    margin: 0;
    color: #333;
    font-size: 14px;
}

.contact {
    background-color: #D4E9E7; 
    padding: 20px;
    border: 2px solid #333;
    border-radius: 5px; 
    margin-bottom: 20px;
  }
  